# Системні файли ОС
.DS_Store
Thumbs.db

# Тимчасові файли редакторів
*~
*.swp
*.swo
.vscode/
.idea/

# Логи та бекапи
*.log
*.bak
*.tmp
*.txt
# Локальні змінні оточення (секрети, токени)
.env
.env.local
